%div.govuk-summary-list__row
  %dt.govuk-summary-list__key Reference number
  %dd.govuk-summary-list__value= defect.reference_number
%div.govuk-summary-list__row
  %dt.govuk-summary-list__key Title
  %dd.govuk-summary-list__value= defect.title
%div.govuk-summary-list__row
  %dt.govuk-summary-list__key Status
  %dd.govuk-summary-list__value= defect.status
%div.govuk-summary-list__row
  %dt.govuk-summary-list__key Description
  %dd.govuk-summary-list__value= defect.description
%div.govuk-summary-list__row
  %dt.govuk-summary-list__key Contact name
  %dd.govuk-summary-list__value= defect.contact_name
%div.govuk-summary-list__row
  %dt.govuk-summary-list__key Contact email address
  %dd.govuk-summary-list__value= defect.contact_email_address
%div.govuk-summary-list__row
  %dt.govuk-summary-list__key Contact phone number
  %dd.govuk-summary-list__value= defect.contact_phone_number
%div.govuk-summary-list__row
  %dt.govuk-summary-list__key Trade
  %dd.govuk-summary-list__value= defect.trade
%div.govuk-summary-list__row
  %dt.govuk-summary-list__key Target completion date
  %dd.govuk-summary-list__value= format_date(defect.target_completion_date)
%div.govuk-summary-list__row
  %dt.govuk-summary-list__key Priority
  %dd.govuk-summary-list__value= defect.priority.name
