%table.govuk-table.defects
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header
        Reference number
      %th.govuk-table__header
        Title
      %th.govuk-table__header
        Status
      %th.govuk-table__header
        Priority
      %th.govuk-table__header
        Target completion date
      %th.govuk-table__header
        Trade
      %th.govuk-table__header
        Actions
  %tbody.govuk-table__body
    - defects.each do |defect|
      %tr.govuk-table__row
        %td.govuk-table__cell= defect.reference_number
        %td.govuk-table__cell= defect.title
        %td.govuk-table__cell= defect.status
        %td.govuk-table__cell= defect.priority.name
        %td.govuk-table__cell= format_date(defect.target_completion_date)
        %td.govuk-table__cell= defect.trade
        %td.govuk-table__cell= link_to(I18n.t('generic.link.show'), property_defect_path(defect.property, defect), class: 'govuk-link')
