- content_for :page_title_prefix, I18n.t('page_title.staff.defects.forwarding.create')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl
      = I18n.t('page_title.staff.defects.forwarding.create')
      %span.govuk-caption-l= 'Step 1 of 1'

    %p.govuk-body= I18n.t('page_content.defect.forwarding.new')

    - if @other_events.present?
      = render partial: 'shared/events/list', locals: { events: @other_events }
    - else
      .govuk-inset-text= I18n.t('page_content.defect.forwarding.unsent')

    = button_to I18n.t('generic.button.send'), defect_forward_path, class: 'govuk-button'
