\# #{t('app.title')}
\
= I18n.t('email.defects.due_soon_and_overdue.heading')
\
- @defects.each do |defect|
  = "#{link_to defect.reference_number, defect_url(defect)},
     #{defect.title},
     #{defect.trade},
     #{I18n.t('email.defects.due_soon_and_overdue.table.created_at', date: defect.created_at)},
     #{I18n.t('email.defects.due_soon_and_overdue.table.target_completion_date', date: defect.target_completion_date)},
     #{I18n.t('email.defects.due_soon_and_overdue.table.status', status: defect.status)},
     #{I18n.t('email.defects.due_soon_and_overdue.table.priority', priority: defect.priority.name)}"
  \---
  \
