- content_for :page_title_prefix, I18n.t('page_title.staff.dashboard')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl= I18n.t('page_title.staff.dashboard')

    %h3.govuk-heading-m= I18n.t('generic.button.find')
    %p.govuk-body-s
      Search for a property to view and create defects.
    = form_tag properties_path, method: :get, class: 'property-search' do |f|
      .govuk-form-group
        = label_tag 'address', 'Address', class: 'govuk-label'
        = search_field_tag :address, @property_search.address, class: 'govuk-input form-control form-control-block govuk-!-width-three-quarters', placeholder: '1 Hackney Street'
      = submit_tag I18n.t('generic.button.search'), class: 'govuk-button mb0'

      %hr.govuk-section-break.govuk-section-break--l.govuk-section-break--visible

      -# %h2.govuk-heading-m
      -#   Manage Defects
      -# = render partial: 'staff/dashboard/partials/manage-defects'

  .govuk-grid-column-one-third
    %h2.govuk-heading-m
      Manage Estates
    = render partial: 'staff/dashboard/partials/manage-estates'
