- content_for :page_title_prefix, I18n.t('page_title.staff.dashboard')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl= I18n.t('page_title.staff.dashboard')

    %h3.govuk-heading-m
      Find a defect
    %p.govuk-body-s
      Search for an individual property or communal_area to create or update defects.
    = form_tag search_path, method: :get, class: 'search' do |f|
      .govuk-form-group
        = label_tag 'query', 'Address or communal_area name', class: 'govuk-label'
        = search_field_tag :query, @search.query, class: 'govuk-input form-control form-control-communal_area govuk-!-width-three-quarters', placeholder: '1 Hackney Street or Clift House'
      = submit_tag I18n.t('generic.button.find'), class: 'govuk-button mb0'

      %hr.govuk-section-break.govuk-section-break--l.govuk-section-break--visible

      %h3.govuk-heading-m
        Reporting
      = link_to(I18n.t('button.report.download_all'), report_path(format: :csv), class: 'govuk-button govuk-button--secondary mb0')

  .govuk-grid-column-one-third
    %h2.govuk-heading-m
      Manage Estates
    = render partial: 'staff/dashboard/partials/manage-estates', locals: { estates: @estates }
