- content_for :page_title_prefix, I18n.t('page_title.staff.dashboard')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl= I18n.t('page_title.staff.dashboard')

    %h3.govuk-heading-m
      = I18n.t('page_content.dashboard.header.find_defect')
    %p.govuk-body-s
      = I18n.t('page_content.dashboard.description.find_defect')

    = form_tag search_path, method: :get, class: 'search' do |f|
      .govuk-form-group
        = label_tag 'query', 'Address or communal area name', class: 'govuk-label'
        = search_field_tag :query, @search.query, class: 'govuk-input form-control form-control-communal_area govuk-!-width-three-quarters', placeholder: '1 Hackney Street or Clift House'
      = submit_tag I18n.t('generic.button.find'), class: 'govuk-button mb0'

    %hr.govuk-section-break.govuk-section-break--l.govuk-section-break--visible

    %h3.govuk-heading-m
      = I18n.t('page_content.dashboard.header.defect_overview')
    %p.govuk-body-s
      = I18n.t('page_content.dashboard.description.defect_overview')

    = form_tag defects_path, method: :get do
      = hidden_field_tag 'statuses[]', 'Open'
      = hidden_field_tag 'types[]', 'Property'
      = hidden_field_tag 'types[]', 'Communal'
      - Scheme.all.each do |scheme|
        = hidden_field_tag 'scheme_ids[]', scheme.id
      = submit_tag 'View all defects', class: 'govuk-button mb0'

    %hr.govuk-section-break.govuk-section-break--l.govuk-section-break--visible

    %h3.govuk-heading-m
      = I18n.t('page_content.dashboard.header.reporting')
    = link_to(I18n.t('button.report.download_all'), report_path(format: :csv), class: 'govuk-button govuk-button--secondary mb0')

    %table.govuk-table.scheme-reports
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header
            Name
          %th.govuk-table__header
            Actions
      %tbody.govuk-table__body
        - Scheme.all.each do |scheme|
          %tr.govuk-table__row
            %td.govuk-table__cell= scheme.name
            %td.govuk-table__cell= link_to(I18n.t('generic.link.show'), report_scheme_path(scheme), class: 'govuk-link')

  .govuk-grid-column-one-third
    %h2.govuk-heading-m
      = I18n.t('page_content.dashboard.header.manage')
    = render partial: 'staff/dashboard/partials/manage-estates', locals: { estates: @estates }
