- content_for :page_title_prefix, I18n.t('page_title.staff.comments.edit')

= link_to "Back to #{I18n.t('page_title.staff.defects.show', reference_number: @defect.reference_number)}", property_defect_path(@defect.property, @defect), class: 'govuk-back-link'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl
      = I18n.t('page_title.staff.comments.edit')
      %span.govuk-caption-l= 'Step 1 of 1'

    = simple_form_for [@defect.property, @defect, @comment] do |f|
      .govuk-form-group
        = f.input :message,
                  wrapper: 'textarea',
                  as: :text,
                  input_html: { rows: 10 },
                  required: true
      = f.button :submit, I18n.t('generic.button.update', resource: 'Comment')
