.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl= I18n.t('welcome.services.scheme.title')
    %p= I18n.t('welcome.services.repair.introduction')
    %ul.govuk-list.govuk-list--bullet
      - I18n.t('welcome.services.repair.lists').each do |list|
        %li= list[:item]
    %p= I18n.t('welcome.services.repair.emergency_text')

    = link_to(I18n.t('scheme.call_to_action'), new_repairs_path, class: 'govuk-button mb0')
