- content_for :page_title_prefix, I18n.t('page_title.staff.schemes.show', name: @scheme.name)

= link_to "Back to #{@scheme.name} scheme view", estate_scheme_path(@scheme.estate, @scheme), class: 'govuk-back-link'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl
      = I18n.t('page_title.staff.priorities.create', name: @scheme.name).titleize
      %span.govuk-caption-l= 'Step 1 of 1'

    = simple_form_for [@scheme.estate, @scheme, @priority] do |f|
      .govuk-form-group
        = f.input :name
        = f.input :days, as: :integer, placeholder: '1'
      = f.button :submit, I18n.t('generic.button.create', resource: 'Priority')
