- content_for :page_title_prefix, I18n.t('page_title.staff.defects.show', reference_number: @defect.reference_number)

.govuk-breadcrumbs
  %ol.govuk-breadcrumbs__list
    = breadcrumb_link_to('Home', root_path)
    = breadcrumb_link_to(I18n.t('page_title.staff.estates.show', name: @defect.property.scheme.estate.name), estate_path(@defect.property.scheme.estate))
    = breadcrumb_link_to(I18n.t('page_title.staff.schemes.show', name: @defect.property.scheme.name), estate_scheme_path(@defect.property.scheme.estate, @defect.property.scheme))
    = breadcrumb_link_to(I18n.t('page_title.staff.properties.show', name: @defect.property.address), property_path(@defect.property))
    = breadcrumb_current(I18n.t('page_title.staff.defects.show', reference_number: @defect.reference_number))

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-l
      = I18n.t('page_title.staff.defects.show', reference_number: @defect.reference_number)
    = link_to(I18n.t('generic.button.edit', resource: 'Defect'), edit_property_defect_path(@defect.property, @defect), class: 'govuk-button mb0')
    = render partial: '/shared/defects/information', locals: { defect: @defect }

    %h2.govuk-heading-m
      Scheme

    %p.scheme_information.scheme_name_and_estate
      #{I18n.t('page_title.staff.schemes.show', name: @defect.property.scheme.name)} belongs to #{I18n.t('page_title.staff.estates.show', name: @defect.property.scheme.estate.name)}

    = render partial: '/shared/schemes/information', locals: { scheme: @defect.property.scheme }

  .govuk-grid-column-one-third
    %h2.govuk-heading-m
      Comments
    = link_to(I18n.t('generic.button.create', resource: 'Comment'), new_property_defect_comment_path(@defect.property, @defect), class: 'govuk-button mb0')
    = render partial: '/shared/comments/list', locals: { comments: @defect.comments }

    %h2.govuk-heading-m
      Property
    = render partial: '/shared/properties/information', locals: { property: @defect.property }

    %h2.govuk-heading-m
      Events
    = render partial: '/shared/events/list', locals: { events: @defect.activities }
