- content_for :page_title_prefix, I18n.t('page_title.staff.reports.scheme.show', name: @presenter.scheme.name)

.govuk-breadcrumbs
  %ol.govuk-breadcrumbs__list
    = breadcrumb_link_to('Home', dashboard_url)

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-l
      = I18n.t('page_title.staff.reports.scheme.show', name: @presenter.scheme.name)
      %span.govuk-caption-l= @presenter.scheme.contractor_name
      %span.govuk-caption-l= @presenter.date_range

    = form_tag report_scheme_url(scheme: @presenter.scheme.id), class: 'date-filter', method: :get do
      %h2.govuk-heading-m From
      = render partial: 'shared/defects/date_fields', locals: { name: 'from_date', date: @report_form.from_date }
      %h2.govuk-heading-m To
      = render partial: 'shared/defects/date_fields', locals: { name: 'to_date', date: @report_form.to_date }

      %br
      = submit_tag 'Apply dates', class: 'govuk-button mb0'

.govuk-grid-row
  .govuk-grid-column-full
    = render partial: 'summary', locals: { presenter: @presenter }
    = render partial: 'statuses', locals: { presenter: @presenter }
    = render partial: 'trades', locals: { presenter: @presenter }
    = render partial: 'priorities', locals: { presenter: @presenter }
