- content_for :page_title_prefix, I18n.t('page_title.staff.reports.scheme.show', name: @presenter.scheme.name)

.govuk-breadcrumbs
  %ol.govuk-breadcrumbs__list
    = breadcrumb_link_to('Home', root_path)

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-l
      = I18n.t('page_title.staff.reports.scheme.show', name: @presenter.scheme.name)
      %span.govuk-caption-l= @presenter.scheme.contractor_name
      %span.govuk-caption-l= @presenter.date_range

    = render partial: 'summary', locals: { presenter: @presenter }
    = render partial: 'statuses', locals: { presenter: @presenter }
    = render partial: 'trades', locals: { presenter: @presenter }

