%dl.govuk-summary-list.property_information
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Estate
    %dd.govuk-summary-list__value= property.scheme.estate.name
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Scheme
    %dd.govuk-summary-list__value= property.scheme.name
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Contractor name
    %dd.govuk-summary-list__value= property.scheme.contractor_name
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Contractor email address
    %dd.govuk-summary-list__value= property.scheme.contractor_email_address
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Employer agent name
    %dd.govuk-summary-list__value= property.scheme.employer_agent_name
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Employer email address
    %dd.govuk-summary-list__value= property.scheme.employer_agent_email_address
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key UPRN
    %dd.govuk-summary-list__value= property.uprn
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Property address
    %dd.govuk-summary-list__value= property.address
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Property core
    %dd.govuk-summary-list__value= property.core_name
