%table.govuk-table.properties
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header
        UPRN
      %th.govuk-table__header
        Address
      %th.govuk-table__header
        Postcode
      %th.govuk-table__header
        Actions
      %th.govuk-table__header

  %tbody.govuk-table__body
    - properties.each do |property|
      %tr.govuk-table__row
        %td.govuk-table__cell= property.uprn
        %td.govuk-table__cell= property.address
        %td.govuk-table__cell= property.postcode
        %td.govuk-table__cell= link_to(I18n.t('generic.link.show'), property_path(property), class: 'govuk-link')
        %td.govuk-table__cell= link_to(I18n.t('generic.link.edit'), edit_estate_scheme_property_path(property.scheme.estate, property.scheme, property), class: 'govuk-link')
