%dl.govuk-summary-list.scheme_information
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Name
    %dd.govuk-summary-list__value= scheme.name
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Contractor name
    %dd.govuk-summary-list__value= scheme.contractor_name
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Contractor email address
    %dd.govuk-summary-list__value= scheme.contractor_email_address
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Employer agent name
    %dd.govuk-summary-list__value= scheme.employer_agent_name
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Employer agent email address
    %dd.govuk-summary-list__value= scheme.employer_agent_email_address
