- content_for :page_title_prefix, I18n.t('page_title.staff.defects.create.property')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl
      = I18n.t('page_title.staff.defects.create.property')
      %span.govuk-caption-l= 'Step 1 of 1'

    = render partial: '/shared/properties/information', locals: { property: @property }

    = simple_form_for @defect, html: { class: 'new_defect' }, action: :post, url: property_defects_path(@property) do |f|
      .govuk-form-group
        = f.input :title,
                  hint: I18n.t('form.defect.title.description'),
                  label: 'Short title'
        = f.input :description,
                  wrapper: 'textarea',
                  as: :text,
                  input_html: { rows: 10 },
                  required: true
        = f.input :contact_name
        = f.input :contact_email_address
        = f.input :contact_phone_number
        = f.input :trade,
                  wrapper: 'select',
                  input_html: { class: 'trades' },
                  collection: Defect::TRADES,
                  required: true
        = f.input :status,
                  wrapper: 'select',
                  input_html: { class: 'status' },
                  collection: Defect.statuses,
                  selected: @defect.status,
                  required: true,
                  label_method: ->(obj){ status_form_label(option_array: obj) },
                  value_method: :first
        = f.input :priority,
                  as: :radio_buttons,
                  wrapper: :radio_buttons,
                  item_wrapper_class: 'govuk-radios__item',
                  item_label_class: 'govuk-label',
                  input_html: { class: 'priorities' },
                  collection: @property.scheme.priorities,
                  required: true,
                  selected: @defect.priority,
                  label_method: ->(obj){ priority_form_label(priority: obj) }

        %span.govuk-label.govuk-label
          %label.required
            Forwarding
        = f.input :send_contractor_email,
                  as: :boolean,
                  wrapper: :inline_checkbox,
                  input_html: { checked: @defect.send_contractor_email || true },
                  wrapper_html: { id: 'send_contractor_email' }
        = f.input :send_employer_agent_email,
                  as: :boolean,
                  wrapper: :inline_checkbox,
                  input_html: { checked: @defect.send_employer_agent_email || true },
                  wrapper_html: { id: 'send_employer_agent_email' }

      = f.button :submit, I18n.t('button.create.property_defect')
