- content_for :page_title_prefix, I18n.t('page_title.staff.defects.show', reference_number: @defect.reference_number)

= link_to "Back to #{I18n.t('page_title.staff.properties.show', name: @defect.property.address)}", property_path(@defect.property), class: 'govuk-back-link'

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-l
      = I18n.t('page_title.staff.defects.show', reference_number: @defect.reference_number)
.govuk-grid-row
  .govuk-grid-column-one-half
    %h2.govuk-heading-m= @defect.title
    = link_to(I18n.t('button.edit.defect'), edit_property_defect_path(@defect.property, @defect), class: 'govuk-button govuk-button--secondary mb0')

.govuk-grid-row
  .govuk-grid-column-one-half.summary
    = render partial: '/shared/defects/summary_information', locals: { defect: @defect }
  .govuk-grid-column-one-half.description
    %h3.govuk-heading-s.section-heading--s
      Defect description
    %p.govuk-body= @defect.description

.govuk-grid-row
  .govuk-grid-column-one-half.property-location
    = render partial: '/shared/defects/property_location_information', locals: { defect: @defect }

  .govuk-grid-column-one-half.contact-information
    = render partial: '/shared/defects/contact_information', locals: { defect: @defect }

.govuk-grid-row
  %hr{class: 'govuk-section-break govuk-section-break--xs govuk-section-break--visible govuk-!-margin-bottom-4'}
  .govuk-grid-column-one-half.comments
    %h2.govuk-heading-m
      Comments
    = link_to(I18n.t('button.create.comment'), new_defect_comment_path(@defect), class: 'govuk-button mb0')
    = render partial: '/shared/comments/list', locals: { comments: @defect.comments }

  .govuk-grid-column-one-half.events
    %h2.govuk-heading-m
      Events
    = render partial: '/shared/events/list', locals: { events: @defect.activities }
