- content_for :page_title_prefix, I18n.t('page_title.staff.defects.edit', reference_number: @defect.reference_number)

= link_to "Back to #{I18n.t('page_title.staff.defects.show', reference_number: @defect.reference_number)}", communal_area_defect_url(@defect.communal_area, @defect), class: 'govuk-back-link'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl
      = I18n.t('page_title.staff.defects.edit', reference_number: @defect.reference_number)
      %span.govuk-caption-l= 'Step 1 of 1'

    = render partial: '/shared/communal_areas/information', locals: { communal_area: @defect.communal_area }

    = simple_form_for [@defect.communal_area, @defect] do |f|
      .govuk-form-group
        .govuk-form-group
          %label.govuk-label.govuk-label{for: 'created_at_day'}
            = I18n.t('generic.label.created_date')
          = render partial: 'shared/defects/date_fields', locals: { name: 'created_at', date: @defect.created_at.to_date }

        = f.input :title,
                  hint: I18n.t('form.defect.title.description'),
                  label: 'Short title'
        = f.input :description,
                  wrapper: 'textarea',
                  as: :text,
                  input_html: { rows: 10 },
                  required: true
        = f.input :access_information,
                  hint: I18n.t('form.defect.access_information.description'),
                  wrapper: 'textarea',
                  as: :text,
                  input_html: { rows: 5 }
        = f.input :contact_name
        = f.input :contact_email_address
        = f.input :contact_phone_number,
                  hint: I18n.t('form.defect.contact_phone_number.hint')
        = f.input :trade,
                  wrapper: 'select',
                  input_html: { class: 'trades' },
                  collection: Defect::TRADES,
                  required: true
        = f.input :status,
                  wrapper: 'select',
                  input_html: { class: 'status' },
                  collection: Defect.statuses,
                  selected: @defect.status.downcase,
                  required: true,
                  label_method: ->(obj){ status_form_label(option_array: obj) },
                  value_method: :first

      .existing-priority-information
        - if @defect.status.downcase == 'completed'
          %label.govuk-label
            %span Actual completion date
            %p.govuk-inset-text= @defect.actual_completion_date
          = render partial: 'shared/defects/date_fields', locals: { name: 'actual_completion_date', date: nil }
        %label.govuk-label
          %span Priority status
          %p.govuk-inset-text= @defect.priority.name
        %label.govuk-label
          %span Target date for completion
          %p.govuk-inset-text
            = @defect.target_completion_date

      = f.input :priority,
                as: :radio_buttons,
                wrapper: :radio_buttons,
                item_wrapper_class: 'govuk-radios__item',
                item_label_class: 'govuk-label',
                input_html: { class: 'priorities' },
                collection: @defect.communal_area.scheme.priorities,
                required: false,
                selected: @defect.priority,
                label_method: ->(obj){ priority_form_label(priority: obj) }

      %p Or, set a different target completion date:

      = render partial: 'shared/defects/date_fields', locals: { name: 'target_completion_date', date: nil }

      = f.button :submit, I18n.t('button.update.defect')
