- content_for :page_title_prefix, I18n.t('page_title.staff.defects.show', reference_number: @defect.reference_number)

= link_to "Back to #{I18n.t('page_title.staff.communal_areas.show', name: @defect.communal_area.name)}", communal_area_path(@defect.communal_area), class: 'govuk-back-link'

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-l
      = I18n.t('page_title.staff.defects.show', reference_number: @defect.reference_number)
.govuk-grid-row
  .govuk-grid-column-full
    %h2.govuk-heading-m= @defect.title
    = flag_toggle_button(@defect)
    = link_to(I18n.t('button.edit.defect'), edit_communal_area_defect_path(@defect.communal_area, @defect), class: 'govuk-button govuk-button--secondary mb0')
    = link_to(I18n.t('button.create.evidence'), new_defect_evidence_path(@defect), class: 'govuk-button govuk-button--secondary mb0')
    = link_to(I18n.t('button.forward.contractor'), new_defect_forward_path(@defect, recipient_type: :contractor), class: 'govuk-button govuk-button--secondary mb0')
    = link_to(I18n.t('button.forward.employer_agent'), new_defect_forward_path(@defect, recipient_type: :employer_agent), class: 'govuk-button govuk-button--secondary mb0')

.govuk-grid-row
  .govuk-grid-column-one-half.summary
    = render partial: '/shared/defects/summary_information', locals: { defect: @defect }
  .govuk-grid-column-one-half.description
    %h3.govuk-heading-s.section-heading--s
      Defect description
    %p.govuk-body= @defect.description

.govuk-grid-row
  .govuk-grid-column-one-half.communal-location
    = render partial: '/shared/defects/communal_location_information', locals: { defect: @defect }

  .govuk-grid-column-one-half.contact-information
    = render partial: '/shared/defects/contact_information', locals: { defect: @defect }

.govuk-grid-row
  .govuk-grid-column-one-half.evidence
    = render partial: '/shared/defects/evidence_information', locals: { evidences: @defect.evidences }

.govuk-grid-row
  %hr{class: 'govuk-section-break govuk-section-break--xs govuk-section-break--visible govuk-!-margin-bottom-4'}
  .govuk-grid-column-one-half.comments
    %h2.govuk-heading-m
      Comments
    = link_to(I18n.t('button.create.comment'), new_defect_comment_path(@defect), class: 'govuk-button mb0')
    = render partial: '/shared/comments/list', locals: { comments: @defect.comments }

  .govuk-grid-column-one-half.events
    %h2.govuk-heading-m
      Events
    = render partial: '/shared/events/list', locals: { events: @defect.activities }
