- content_for :page_title_prefix, I18n.t('page_title.staff.schemes.create')

= link_to "Back to #{I18n.t('page_title.staff.estates.show', name: @estate.name)}", estate_path(@estate), class: 'govuk-back-link'



.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl
      = I18n.t('page_title.staff.schemes.create')
      %span.govuk-caption-l= 'Step 1 of 1'

    = simple_form_for [@estate, @scheme] do |f|
      .form-group
        = f.input :name
        = f.input :contractor_name
        = f.input :contractor_email_address
        = f.input :employer_agent_name
        = f.input :employer_agent_email_address
      = f.button :submit, I18n.t('generic.button.create', resource: 'Scheme')
