- content_for :page_title_prefix, I18n.t('page_title.staff.schemes.show', name: @scheme.name)

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl= I18n.t('page_title.staff.schemes.show', name: @scheme.name).titleize
    = link_to(I18n.t('generic.button.create', resource: 'Priority'), new_estate_scheme_priority_path(@scheme.estate, @scheme), class: 'govuk-button mb0')

    %table.govuk-table.priorities
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header
            %h2.govuk-heading-m
              Name
          %th.govuk-table__header
            %h2.govuk-heading-m
              Days
      %tbody.govuk-table__body
        - @scheme.priorities.each do |priority|
          %tr.govuk-table__row
            %td.govuk-table__cell= priority.name
            %td.govuk-table__cell= priority.days

    = link_to(I18n.t('generic.button.create', resource: 'Property'), new_estate_scheme_property_path(@scheme.estate, @scheme), class: 'govuk-button mb0')

    %table.govuk-table.properties
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header
            %h2.govuk-heading-m
              Core name
          %th.govuk-table__header
            %h2.govuk-heading-m
              Address
          %th.govuk-table__header
            %h2.govuk-heading-m
              Postcode
      %tbody.govuk-table__body
        - @scheme.properties.each do |property|
          %tr.govuk-table__row
            %td.govuk-table__cell= property.core_name
            %td.govuk-table__cell= property.address
            %td.govuk-table__cell= property.postcode
            %td.govuk-table__cell= link_to(I18n.t('generic.link.edit'), edit_estate_scheme_property_path(@scheme.estate, @scheme, property), class: 'govuk-link')
