- content_for :page_title_prefix, I18n.t('page_title.staff.properties.index')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-l= I18n.t('page_title.staff.properties.index')
    %span.govuk-caption-m= "Showing #{@properties.count} out of #{Property.count} properties."

    = render partial: '/shared/properties/table', locals: { properties: @properties }
