- content_for :page_title_prefix, I18n.t('page_title.staff.properties.create', name: @scheme.name)

= link_to "Back to #{I18n.t('page_title.staff.schemes.show', name: @scheme.name)}", estate_scheme_path(@scheme.estate, @scheme), class: 'govuk-back-link'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl
      = I18n.t('page_title.staff.properties.create', name: @scheme.name)
      %span.govuk-caption-l= 'Step 1 of 1'

    = simple_form_for [@scheme.estate, @scheme, @property] do |f|
      .govuk-form-group
        = f.input :address
        = f.input :postcode
        = f.input :uprn, label: 'Universal Property Reference Number (UPRN)'
      = f.button :submit, I18n.t('button.create.property')
