- content_for :page_title_prefix, I18n.t('page_title.staff.properties.show', name: @property.address)

.govuk-breadcrumbs
  %ol.govuk-breadcrumbs__list
    = breadcrumb_link_to('Home', root_path)
    = breadcrumb_link_to(I18n.t('page_title.staff.estates.show', name: @property.scheme.estate.name), estate_path(@property.scheme.estate))
    = breadcrumb_link_to(I18n.t('page_title.staff.schemes.show', name: @property.scheme.name), estate_scheme_path(@property.scheme.estate, @property.scheme))
    = breadcrumb_current(I18n.t('page_title.staff.properties.show', name: @property.address))

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      = I18n.t('page_title.staff.properties.show', name: @property.address)

    = render partial: '/shared/properties/information', locals: { property: @property }

    = link_to(I18n.t('generic.button.create', resource: 'Defect'), new_property_defect_path(@property), class: 'govuk-button mb0')

    = render partial: '/shared/defects/table', locals: { defects: @property.defects }
