- content_for :page_title_prefix, I18n.t('page_title.staff.properties.show', name: @property.address)

.govuk-breadcrumbs
  %ol.govuk-breadcrumbs__list
    = breadcrumb_link_to('Home', root_path)
    = breadcrumb_link_to(I18n.t('page_title.staff.estates.show', name: @property.scheme.estate.name), estate_path(@property.scheme.estate))
    = breadcrumb_link_to(I18n.t('page_title.staff.schemes.show', name: @property.scheme.name), estate_scheme_path(@property.scheme.estate, @property.scheme))
    = breadcrumb_current(I18n.t('page_title.staff.properties.show', name: @property.address))

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-l
      = I18n.t('page_title.staff.properties.show', name: @property.address)

    %h2.govuk-heading-m.section-heading
      Property details

  .govuk-grid-column-one-third
    = render partial: '/shared/properties/information', locals: { property: @property }

  .govuk-grid-column-one-third
    = render partial: '/shared/schemes/short-information', locals: { scheme: @property.scheme }

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-m.section-heading
      Defects

  .govuk-grid-column-full
    = link_to(I18n.t('generic.button.create', resource: 'Defect'), new_property_defect_path(@property), class: 'govuk-button mb0')

  .govuk-grid-column-full
    .govuk-grid-row
      .govuk-grid-column-one-quarter
        %aside

      .govuk-grid-column-three-quarters
        %h2.govuk-heading-m Defects history
        = render partial: '/shared/defects/table', locals: { defects: @property.defects }
