- content_for :page_title_prefix, I18n.t('page_title.staff.communal_areas.create', name: @scheme.name)

= link_to "Back to #{I18n.t('page_title.staff.schemes.show', name: @scheme.name)}", estate_scheme_path(@scheme.estate, @scheme), class: 'govuk-back-link'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl
      = I18n.t('page_title.staff.communal_areas.create', name: @scheme.name)
      %span.govuk-caption-l= 'Step 1 of 1'

    %p.gov-uk-body= I18n.t('form.communal_area.explanation')

    = simple_form_for [@scheme.estate, @scheme, @communal_area] do |f|
      .govuk-form-group
        = f.input :name
        = f.input :location,
                  hint: 'A single or group of addresses that will help the contractor arrive at the right location',
                  placeholder: '22-50 Hackney Street'
      = f.button :submit, I18n.t('generic.button.create', resource: 'Communal Area')
