%h3= I18n.t('repair.new.header')
%p.hint= 'Step 1 of 1'

- if @repair.errors.present?
  %div.error-message-list
    %p Please correct the following errors:
    %ul
      - @repair.errors.full_messages.each do |error_message|
        %li= error_message

= simple_form_for @repair, class: 'report-a-defect' do |f|
  .form-group
    = f.input :description, as: :text, input_html: { class: 'form-control', rows: '10' }
  = f.button :submit, I18n.t('repair.submit'), class: 'btn btn-success'
