%h3= I18n.t('repair.new.header')
%p.hint= 'Step 1 of 1'

= simple_form_for @repair, class: 'request-a-repair' do |f|
  .form-group
    = f.input :description, as: :text, input_html: { class: 'form-control', rows: '10' }
  = f.button :submit, I18n.t('repair.submit'), class: 'btn btn-success'
