- content_for :page_title_prefix, I18n.t('page_title.staff.estates.create')

= link_to "Back to Home", dashboard_path, class: 'govuk-back-link'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl
      = I18n.t('page_title.staff.estates.create')
      %span.govuk-caption-l= 'Step 1 of 1'

    = simple_form_for @estate do |f|
      .form-group
        = f.input :name
      = f.button :submit, I18n.t('button.create.estate')
