- content_for :page_title_prefix, I18n.t('page_title.staff.estates.show', name: @estate.name)

.govuk-breadcrumbs
  %ol.govuk-breadcrumbs__list
    = breadcrumb_link_to("Home", root_path)
    = breadcrumb_current("Estate details for: #{@estate.name}")

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl= I18n.t('page_title.staff.estates.show', name: @estate.name).titleize
    = link_to(I18n.t('generic.button.create', resource: 'Scheme'), new_estate_scheme_path(@estate), class: 'govuk-button mb0')

    %table.govuk-table.schemes
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header
            %h2.govuk-heading-m
              Name
          %th.govuk-table__header
      %tbody.govuk-table__body
        - @estate.schemes.each do |scheme|
          %tr.govuk-table__row
            %td.govuk-table__cell= scheme.name
            %td.govuk-table__cell= link_to I18n.t('generic.link.show'), estate_scheme_path(@estate, scheme), class: 'govuk-link'
