!!!
/[if lt IE 9] <html class="lte-ie8" lang="en">
/[if gt IE 8]><!
%html.govuk-template.app-html-class{lang: "en"}
  /<![endif]
  %head
    %meta{charset: "utf-8"}/
    %title #{content_for :page_title_prefix} — #{t('app.title')}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "blue", name: "theme-color"}/
    %link{href: asset_path("favicon.png"), rel: "shortcut icon", type: "image/x-icon"}/

    /[if !IE 8]
    = stylesheet_link_tag 'application', media: 'all'
    /[if lt IE 9]
    = javascript_include_tag 'application'

    = csrf_meta_tags
  %body{class: 'govuk-template__body app-body-class'}
    :javascript
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    %a.govuk-skip-link{href: "#main-content"} Skip to main content
    %header.govuk-header.lbh-header{"data-module": "header", role: "banner"}
      .govuk-header.govuk-header__container.lbh-header__container
        .govuk-header__logo
          %a.govuk-header__link.govuk-header__link--homepage{href: dashboard_path}
            %span.govuk-header__logotype
              %svg.govuk-header__logotype-crown{focusable: "false", height: "28", role: "presentation", viewbox: "0 0 141.78 25.28", width: "200", xmlns: "http://www.w3.org/2000/svg"}
                %path{d: "M118.94 9.23a2.63 2.63 0 0 0-2.85 2.45h5.28a2.39 2.39 0 0 0-2.43-2.45zM53 16.32a1.59 1.59 0 0 0 1.73 1.34A2.19 2.19 0 0 0 57 15.4v-1.34a9.75 9.75 0 0 1-2.18.7c-1.2.24-1.82.58-1.82 1.56z", fill: "none"}
                %path{d: "M18 0v8.24H6.66V0a12.35 12.35 0 0 0 0 21.92v-8.24H18v8.24A12.35 12.35 0 0 0 18 0zM40.65 7.59h-5.76V.62h-6.15v19.96h6.15v-7.87h5.76v7.87h6.15V.62h-6.15v6.97zM62.34 11.38c0-2.8.06-5.68-6.87-5.68-3.44 0-7.3.67-7.47 4.75h5.15c0-.63.36-1.5 2.07-1.5.89.05 1.78.36 1.78 1.35s-.75 1.15-1.51 1.3c-2.82.53-8.19.36-8.19 5 0 3 2.32 4.37 5.12 4.37a5.93 5.93 0 0 0 4.67-1.72h.05a3.76 3.76 0 0 0 .2 1.34H63a5.81 5.81 0 0 1-.68-3.24zM57 15.4a2.19 2.19 0 0 1-2.32 2.26A1.59 1.59 0 0 1 53 16.32c0-1 .64-1.28 1.87-1.56a9.75 9.75 0 0 0 2.18-.7zM71 16.91c-2.12 0-2.43-1.81-2.43-3.57s.26-3.59 2.43-3.59a2 2 0 0 1 1.4.47 1.92 1.92 0 0 1 .6 1.36h5.25c-.33-4-3.58-5.87-7.38-5.87A7.51 7.51 0 0 0 63 13.34c0 4.59 3.5 7.61 7.86 7.61 3.92 0 7-2.21 7.55-6.16h-5.3A2.22 2.22 0 0 1 71 16.91zM93.86 6.08H87.6l-3.53 4.18V.62h-5.54v19.95h5.54v-4.2l.98-1.06 2.97 5.26h6.65l-5.98-9.03 5.17-5.46zM105.07 5.7a5.31 5.31 0 0 0-4.71 2.21V6.08H95v14.5h5.54v-7.66c0-2.32 1.25-2.79 2.2-2.79 1.62 0 1.81 1.17 1.81 2.85v7.6h5.55v-9.95a4.68 4.68 0 0 0-5.03-4.93zM118.44 5.7a7.44 7.44 0 0 0-7.66 7.65c0 4.87 3.5 7.6 8.13 7.6 3.3 0 6.35-1.45 7.47-4.56h-5.17a2.8 2.8 0 0 1-2.32 1 2.77 2.77 0 0 1-2.82-2.87h10.61c0-5.62-2.48-8.82-8.24-8.82zm-2.35 6a2.63 2.63 0 0 1 2.85-2.45 2.39 2.39 0 0 1 2.43 2.45z", fill: "white"}
                %path{d:"M136.05 6.08l-2.35 8.33h-.06l-2.32-8.33h-5.92l2.46 6.68c.3.84 2.43 6.17 2.43 6.87s-.2.93-.53 1.09a4.48 4.48 0 0 1-1.68.14h-1.29v4.42h2.52c2.15 0 4.39 0 5.84-1.79a14.17 14.17 0 0 0 1.82-4l4.81-13.39z", fill: "white"}
                -# TODO Accessible Logotype hackney
              %span.govuk-header__logotype-text

        .govuk-header__content
          %a.govuk-header__link.govuk-header__link--service-name{href: "/"}
            = t('app.title')
          - if current_user
            %a.govuk-header__link.govuk-header__link--service-name.sign-out-link{href: "/sign_out"}
              = link_to I18n.t('generic.link.sign_out'), sign_out_path, class: 'govuk-header__link sign-out-link'

    .govuk-width-container
      .govuk-phase-banner
        %p.govuk-phase-banner__content
          %strong.govuk-tag.govuk-phase-banner__content__tag
            beta
          %span.govuk-phase-banner__text
            This is a new service

      %main#main-content.govuk-main-wrapper.app-main-class{role: "main"}
        - flash.each do |name, msg|
          %div{class: "flash #{name}"}
            %span= msg

        = yield

    %footer.govuk-footer{role: "contentinfo"}
      .govuk-width-container
        .govuk-footer__meta
          .govuk-footer__meta-item.govuk-footer__meta-item--grow
            %svg.govuk-footer__licence-logo{focusable: "false", height: "17", role: "presentation", viewbox: "0 0 483.2 195.7", width: "41", xmlns: "http://www.w3.org/2000/svg"}
              %path{d: "M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145", fill: "currentColor"}
            %span.govuk-footer__licence-description
              All content is available under the
              = succeed "," do
                %a.govuk-footer__link{href: "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/", rel: "license"} Open Government Licence v3.0
          .govuk-footer__meta-item
            %a.govuk-footer__link.govuk-footer__copyright-logo{href: "https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"} © Crown copyright
  :javascript
    window.GOVUKFrontend.initAll()
