- content_for :page_title_prefix, I18n.t('page_title.staff.search.index.headers.main', query: @search_results.query)
= link_to 'Back', dashboard_path, class: 'govuk-back-link'

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl= I18n.t('page_title.staff.search.index.headers.main', query: @search_results.query)

    %h2.govuk-heading-m.section-heading= I18n.t('page_title.staff.search.index.headers.communal_areas', count: "#{@search_results.communal_areas.count}/#{CommunalArea.count}")
    = render partial: '/shared/communal_areas/table', locals: { communal_areas: @search_results.communal_areas }

    %h2.govuk-heading-m.section-heading= I18n.t('page_title.staff.search.index.headers.properties', count: "#{@search_results.properties.count}/#{Property.count}")
    = render partial: '/shared/properties/table', locals: { properties: @search_results.properties }
