- content_for :page_title_prefix, I18n.t('page_title.staff.search.index.headers.main')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl= I18n.t('page_title.staff.search.index.headers.main')

    %h2.govuk-heading-m.section-heading= I18n.t('page_title.staff.search.index.headers.properties', count: "#{@properties.count}/#{Property.count}")
    = render partial: '/shared/properties/table', locals: { properties: @properties }
